/* Căn giữa theo chiều ngang  */
/* .box{
  background-color: aqua;
  height: 100px; */
/* text-align: center; */
/* c1- CHA - Nếu có nhiều thẻ con nằm tỏng class = box thì dùng c1*/
/* }
h3{
    text-align: center; */
/* C2 - THẺ CON */
/* Trường hợp sử dụng thẻ con khi có 1 thẻ <h3> chứa nội dung thì dùng C2 */
/* } */

/* Căn giữa theo chiều dọc */
/* C1 */
/* .box{
  background-color: aqua;
  height: 100px;
  line-height: 100px;
  text-align: center;
} */
/* Kiểm tra tính kế thừa có Inherited : Yes */
/* C2 */
/* .box{
  background-color: aqua;
  height: 100px;
  display: flex ;

}
h3{
  margin: auto;
} */
/* --> Giúp căn đều nhiều iteam theo chiều ngang và chia đều khoảng cách giữa chúng */
/* c3- khi không muốn dùng margin auto thì có thể dùg align -items để căng giữa theo chiều cao */

/* .box {
  background-color: aqua;
  height: 100px;
  display: flex;
  align-self: center;
  justify-content: center;
} */
/*   justify-content: center; căn giữa các item theo cheiefu ngang và dính sát vào nhau
justify-content: space-around; căn giữa các item theo cheiefu ngang và không dính sát vào nhau
justify-content: space-between; căn giữa các item theo cheiefu ngang và không dính sát vào nhau và hai iteam ngoài cùng dính sát vào màn hình hai bên
 */
/* CÁCH 4 */
.box {
  background-color: aqua;
  height: 100px;
  position: relative;
}
h3{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);

}


/* .box {
  background-color: aqua;
  height: 100px;
  display: flex;
}
h3 {
  margin: auto;
  position: relative;
}
h3::after {
  position: absolute;
  content: '';
  border-left: 3px solid #333;
  height: 50px;
  left: -10px;
  top: 50%;
  /* transform: translateY(-50%) translateX(-50%); */
  /* transform: translateY(-50%);
} */ 

/* TRƯỜN HỢP SỬ DỤNG CÁCH 4: 
- kHI mà xuất hiện một border -left bên cạnh items: Giống như giao diện trên Shopee */
/* h3{
  position: absolute;
  top: 50%;
  right: 50%;
  /* transform: translateY(-50%) translateX(50%); */
/* } */

/* CÁCH 5 */

/* .box {
  background-color: aqua;
  --height: 500px;
  line-height: 100px;
  text-align: center;
  height: var(--height);
}
h3 {
  line-height: var(--height);
} */
